<%- include("partials/header") %>

    <section class="detalhes--filme">
        <h2 class="tituloF">Titulo original : <%= filme.original_title %>
        </h2>
        <h2 class="tituloF">Titulo : <%= filme.title %>
        </h2>
        <img src="https://image.tmdb.org/t/p/w500<%= filme.poster_path %>" alt="">

        <div class="div--detalhes tituloF">
            <h3>Visão geral</h3>
            <p>
                <%= filme.overview %>
            </p>

            <div class="div--detalhes--info tituloF">
                <h3>Popularidade :</h3> <p><%= filme.popularity %></p>
            </div>
            <div class="div--detalhes--info tituloF">
                <h3>Data de lançamento : </h3> <p><%= filme.release_date %></p>
            </div>
            <div class="div--detalhes--info tituloF">
                <h3>Nota : </h3> <p><%= filme.vote_average %></p>
            </div>

        </div>
        <img src="https://image.tmdb.org/t/p/w500<%= filme.backdrop_path %>" alt="">
    </section>

    <%- include("partials/footer") %>